<header>
  <h1
    class="card-title justify-center"
    style="font-size: 55px; margin-top: 60px; letter-spacing: 4px; font-weight: 300;"
  >Shopping</h1>
  <form
    action="/products/add"
    method="post"
    class="flex justify-center mt-20 gap-2"
  >
    <input
      name="productName"
      type="text"
      placeholder="Name"
      class="input input-bordered w-full max-w-xs"
    />
    <input
      name="productPrice"
      type="number"
      placeholder="Price"
      class="input input-bordered w-full max-w-xs"
    />
    <button class="btn">+</button>
  </form>
  <br />
  <ul>
    {{#each product}}
      <li
        style="background-color: rgb(246, 246, 246); padding: 13px; width: 370px; margin: 0 auto;"
      >
        <label style="">{{productName}}</label> -
        <label style="">{{productPrice}} so'm</label>
        <a
          href="products/delete/{{_id}}"
          style="color: red; float:right;"
          class="btn btn-ghost btn-sm"
        >
          X
        </a>
      </li>
      <hr style="width: 370px; margin: 0 auto;" />
    {{/each}}
  </ul>
</header>